button.pum-close.popmake-close {
  box-shadow: none !important;
  font-size: 20px !important;
  border-radius: 50% !important;
  border: 1px solid #f1613d !important;
  width: 50px !important;
  height: 50px !important;
}
.pum-container {
  padding: 5% !important;
}
.training-category-form h4 {
  font-weight: 900;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #100a27;
  margin-bottom: 10px !important;
}
.training-category-form p {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #000000;
}
.training-category-form .submit-btn {
  display: block;
  width: 100% !important;
}
