.landing-header {
  background: #6b387b !important;
}
.scholr-banner {
  background: #6c397c !important;
  min-height: 100vh;
  display: grid;
  place-items: center;
  margin-top: -100px;
  padding-top: 100px;
}
.main-row {
  align-items: center;
  padding: 5% 0 10%;
}
.banner-title {
  color: #fff !important;
  font-size: 62px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 15px !important;
  margin-top: 0 !important;
}
.banner-text {
  color: #fab36a !important;
  font-size: 24px;
}
.banner-content-wrapper {
  max-width: 650px;
}
.search-form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.scholr-btn {
  text-decoration: none !important;
  font-size: 16px;
  color: #fab36a;
  padding: 16px 25px;
  min-width: 160px;
  min-height: 55px;
  display: inline-block;
  text-align: center;
  border: 1px solid #fab36a;
  border-radius: 30px;
  font-weight: 700 !important;
  transition: 0.2s ease-in-out;
}
.form-wrapper {
  position: relative;
}
.search-form input.search-field {
  height: 55px;
  border-radius: 30px;
  border: none !important;
  outline: none !important;
  width: 300px;
  max-width: 300px;
  display: inline-block !important;
  padding: 12px 25px;
}
.search-form input.search-field::placeholder {
  font-size: 16px;
}
.form-wrapper {
  position: relative;
}
.search-form input.submit-btn {
  background: #fab36a;
  border: none !important;
  outline: none !important;
  min-height: 55px;
  border-radius: 30px;
  min-width: 90px;
  font-size: 16px;
  font-weight: 700;
  color: #424244 !important;
  transition: 0.2s ease-in-out;
  font-size: 16px;
}
.search-form input.submit-btn:hover {
  box-shadow: 0 0 5px #fab36a !important;
  background: #fab36a;
}
.scholr-btn:hover {
  background: #fab36a;
  box-shadow: 0 0 5px #fab36a !important;
  color: #424242 !important;
}
.title-wrapper {
  margin-block: 35px;
}
.banner-img {
  padding: 20px;
}
.banner-img img {
  animation: shake-vertical 10s linear infinite both;
  max-width: 80%;
  margin: auto;
  display: block;
}
@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}

@media (max-width: 1024px) {
  .banner-title {
    font-size: 42px;
  }
  .banner-text {
    font-size: 18px;
  }
  .banner-img img {
    max-height: 500px;
  }
}
@media (max-width: 991px) {
  .title-wrapper {
    text-align: center;
  }
  .search-form {
    width: 100%;
    justify-content: center;
  }
  .banner-content-wrapper {
    margin: auto;
  }
}
@media (max-width: 767px) {
  .banner-title {
    font-size: 28px;
  }
  .banner-text {
    font-size: 16px;
  }
  .scholr-btn {
    font-size: 14px;
    padding: 12px 25px;
    min-width: 140px;
    min-height: 50px;
  }
  .search-form input.search-field {
    height: 50px !important;
  }

  .search-form input.submit-btn {
    min-height: 50px;
  }
}
