.textmasking {
  font-size: 16px;
  background: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb152 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
