<section class="reviews-section py-5">
    <div class="container py-md-5">
        <div class="row text-center">
            <div class="col-12">
                <div class="reviews-header">
                    <div class="row align-items-center">
                        <div class="col-md-5">
                            <div class="star-ratings">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <h4 class="reviews-score">5.0</h4>
                            <h5 class="reviews-score__out-of"><em>out of 5</em></h5>
                        </div>
                        <div class="col-md-5">
                            <div class="reviews-progress-bar d-flex align-items-center justify-content-center gap-3">
                                <span class="stars-count"><strong>5 stars</strong></span>
                                <div class="progress-bar">
                                    <span class="progress" style="width: 85%"></span>
                                </div>
                                <span class="reviews-count">54 reviews</span>
                            </div>
                            <div class="reviews-progress-bar d-flex align-items-center justify-content-center gap-3">
                                <span class="stars-count"><strong>4 stars</strong></span>
                                <div class="progress-bar">
                                    <span class="progress" style="width: 45%"></span>
                                </div>
                                <span class="reviews-count">27 reviews</span>
                            </div>
                            <div class="reviews-progress-bar d-flex align-items-center justify-content-center gap-3">
                                <span class="stars-count"><strong>3 stars</strong></span>
                                <div class="progress-bar">
                                    <span class="progress" style="width: 35%"></span>
                                </div>
                                <span class="reviews-count">14 reviews</span>
                            </div>
                            <div class="reviews-progress-bar d-flex align-items-center justify-content-center gap-3">
                                <span class="stars-count"><strong>2 stars</strong></span>
                                <div class="progress-bar">
                                    <span class="progress" style="width: 20%"></span>
                                </div>
                                <span class="reviews-count">3 reviews</span>
                            </div>
                            <div class="reviews-progress-bar d-flex align-items-center justify-content-center gap-3">
                                <span class="stars-count"><strong>1 stars</strong></span>
                                <div class="progress-bar">
                                    <span class="progress" style="width: 0%"></span>
                                </div>
                                <span class="reviews-count">0 reviews</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper reviews-slider-paged">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          {% for block in section.blocks %}
                              {% case block.type %}
                            {% when 'review' %}
                            <div class="review">
                              <h3>{{ block.settings.review_title }}</h3>
                                <p>{{ block.settings.review_text }}</p>
                                <div class="star-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p class="review-author">
                                <strong>{{ block.settings.review_author }}</strong>
                                </p>
                            </div>
                            {% endcase %}
                          {% endfor %}
                            
                        </div>
                    </div>
                    <div class="slider-navigation">
                        <div class="swiper-pagination"></div>
                        <div class="swiper-nav-btns">
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% schema %}
{
	"name": "Reviews Section",
	"settings": [
        {
			"type": "text",
			"id": "title",
			"label": "Section Title"
		}
	],
    "blocks": [{
        "name": "Review",
        "type": "review",
        "settings": [
            {
    			"type": "text",
    			"id": "review_title",
    			"label": "Review Title"
    		},
    		{
    			"type": "textarea",
    			"id": "review_text",
    			"label": "Review Content"
    		},
    		{
    			"type": "text",
    			"id": "review_author",
    			"label": "Author Name"
    		}
        ]
      }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
