@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Pacifico&family=Smooch&display=swap");

* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.banner {
  height: 100vh;
  background: linear-gradient(360deg, #000000b8, #0000001f),
    url(./media/banner-image.jpg);
  background-attachment: fixed;
  scroll-behavior: smooth;
  margin-bottom: 50px;
  background-size: cover;
  background-position: center;
  display: grid;
  place-items: center;
}

button {
  background: #366bb9;
  border: none !important;
  height: 60px;
  min-width: 160px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px !important;
  font-weight: 700 !important;
  font-family: system-ui;
}

.main-content-box {
  text-align: center;
}

.main-content-box h4 {
  font-size: 80px !important;
  letter-spacing: -4px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 400;
  font-family: "Pacifico", cursive;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 10px 10px #00000030 !important;
  background: #fff;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-logo .logo {
  font-size: 45px;
  color: #366bb9;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.site-logo .logo a {
  text-decoration: none !important;
  color: inherit;
}
.site-logo .logo {
  font-size: 45px;
  color: #366bb9;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.site-logo .logo:after {
  content: "";
  border-bottom: 10px dashed #366bb9 !important;
  display: block;
}

/* About */

.primary-title {
  font-size: 45px;
  margin-bottom: 20px !important;
  text-transform: uppercase;
}
.about-col {
  text-align: center !important;
}
