.about-boxes-row .woodmart-info-box .info-box-icon img {
  max-width: 50px;
}
.about-boxes-row h4.info-box-title {
  min-height: 50px;
  padding-left: 60px;
  display: flex;
  align-items: center;
}
.about-boxes-row .box-icon-wrapper {
  position: absolute;
  left: 0;
  top: 0;
}
