.contact-form .field {
  background: #f1eeea !important;
  border-radius: 5px !important;
  border: none !important;
}
.contact-form .cf-field {
  row-gap: 20px;
}
.contact-form {
  max-width: 500px;
  margin: auto;
}
.contact-form input.submit-btn {
  background: #fe0000 !important;
  border-radius: 10px !important;
  margin: 0 auto !important;
  max-width: 160px !important;
  display: block !important;
  min-width: 180px !important;
}
