.subcribe-form {
  position: relative;
}
input[type="email"]::placeholder {
  color: #bababa !important;
}
input[type="email"] {
  min-height: 60px;
  background: #efefef;
  border: none;
  color: #333;
}
input[type="submit"] {
  font-weight: 400;
  font-size: 14px;
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
}
@media (min-width: 1025px) {
  div.mc4wp-form-fields {
    display: block !important;
    max-width: 80% !important;
    margin: 0;
    position: relative !important;
  }
}
div.mc4wp-form-fields {
  display: block !important;
  max-width: 100%;
  margin: 0;
  position: relative !important;
}
